* {
    /*border: 1px dotted red;*/
    font-family: 'Lora', serif;
 }
 
 body {
     margin: 0;
     background:#abf0e4 ;
 }


 .title{
    font-family: 'Lora', serif;
     font-size: 3em;
 }
 
 .A {
     display: flex;
     flex-direction: column;
     align-items: center;
     background:#00cba9;
     color: black;
 }
 
 .B{display: flex;
    flex-direction: row;
    max-width: 45%;
 }
 .B img{
     width: 120px;
     height: 120px;
     border-radius: 60%;
 }
 .relacionado{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .relacionado div{
     margin: .5em;
     color: black;
     padding: .5em;
     border-radius: 20px;
     display: flex;
     flex-direction: row;
     align-items: center;
     transition: 1s ease all;
 }
 .relacionado div div:hover{
     background: white !important;
 }
 .relacionado div div span{
     margin: 5px;
 }
 .wave {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

 header {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
 }
 
 header h1 {
     margin: 0;
     max-width: 40%;
 }
 
 header nav ul {
     display: flex;
     flex-direction: row;
     justify-content: center;
     height: 2.5em;
    
 }
 
 header nav ul li {
     list-style: none;
     margin: 2em;
 }
 
 header nav ul li a {
     font-size: 1.5em;
     color: rgb(2, 2, 2);
     text-decoration: none;
 }
 
 header nav ul li a:hover {
     color:red;
     text-decoration: none;
 }
 
 main {
     margin: .5em;
 }
 
 h1 {
     font-family: 'Lobster Two', cursive;
     font-size: 3em;
     font-weight: bold;
    
 }

 main h1{
      text-align: center;
 }
 
 p{
     font-size: 1.2em;
 }
 
 
 .negritas {
     font-weight: bolder;
     font-size: 2em;
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 main ul li{
    font-size: 1.2em;

}
 
 .footer {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     position: relative;
     top: -1em;
     padding-bottom: 6em;
     color: black;
 }
 .footer img{
     width: 210px;
     height: 150px;
     margin-right: 2em;
     border-radius: 50px;
 }

 @-webkit-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}